<%= form_with(model: foorm, class: "contents") do |form| %>
  <% if foorm.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(foorm.errors.count, "error") %> prohibited this foorm from being saved:</h2>

      <ul class="list-disc ml-6">
        <% foorm.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_field :title, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": foorm.errors[:title].none?, "border-red-400 focus:outline-red-600": foorm.errors[:title].any?}] %>
  </div>

  
  <div id="form_items">
    <% if foorm.form_items.any? %> 
      <%= render foorm.form_items %>
    <% else %>
     <%= render FormItem.new %>
    <% end %>
  </div>

  <%= link_to "Add new question", 
    new_form_item_path, 
    class: [blue_btn_classes, "mb-4"],
    data: { turbo_stream: true }
  %>
  <br />

  <div class="inline">
    <%= form.submit class: blue_btn_classes %>
  </div>
<% end %>
